<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<form method="post" enctype="multipart/form-data">
		{% csrf_token %}
        <h1 class="h3 mb-3 font-weight-normal">Register an account</h1>
        <label for="title">Title</label>
        <input type="text" name="title"  placeholder="Title" required autofocus>
        <label for="image"></label>
        <input type="file" name="image" value="fileupload" id="fileupload">
        <label for="note">Title</label>
        <input type="text" name="note"  placeholder="Note" required>

        {% for field in registration_form %}
        <p>{% for error in field.errors %}<p style="color: red">{{ error }}</p>{% endfor %}</p>
        {% endfor %}
        {% if registration_form.non_field_errors %}
            <div>
            	<p>{{registration_form.non_field_errors}}</p>
            </div>
        {% endif %}
        <button class="btn btn-lg btn-primary btn-block" type="submit">Upload</button>
    </form>
</body>
</html>


