<!DOCTYPE html>
{% load static %}
<html>
<head>
	<meta charset="UTF-8">
    <title>Digi-Learn</title>

    <!-- attach our stylesheet -->
    <link rel="stylesheet" href="{% static 'css/auth.css' %}">
</head>
<body>

    <!-- the header -->
    <header>

        <!-- our main logo -->

        <!-- main navigation links -->
        <nav>
            <ul>
                <li><a href="/">Courses</a></li>
            </ul>
        </nav>

    </header>

    <!-- the content -->
    <main>

        <!-- hero content -->
        <div class="hero">
            <!-- content for the hero -->
            <div class="hero-content">
                <h1 class="hero-title">Welcome</h1>
                <p>View and Create more Courses.</p>

                <a href="login">Login</a>
                <a href="signup">Sign Up</a>
            </div>
        </div>

        

    </main>

    <!-- the footer -->


</body>
</html>
